/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

body {
    background-image: url(wallpaper.jpg);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

body .no-fouc {
    display: none;
}

/* Background Animation Stars */
.star {
    --twinkle-duration: "";
    --twinkle-delay: "";
    --star-size: "";
    position: absolute;
    width: var(--star-size);
    height: var(--star-size);
    background: #fff;
    border-radius: 50%;
    animation: twinkle infinite alternate;
    animation-duration: var(--twinkle-duration);
    animation-delay: var(--twinkle-delay);
}
    
@keyframes twinkle {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
        box-shadow: 0 0 5px 0.5px rgba(150, 150, 150, 0.6);
    }
}

header {
    text-align: center;
    color: rgb(255, 208, 241);
    
}

header h1 {
    animation: lights 5s 750ms linear infinite;
    color: white;
}

/* Header Text Effect Animation */
@keyframes lights {
    0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
}

#datetime {
    font-size: larger;
    -webkit-text-stroke: 1px palevioletred;
}

#content {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 220px;
    margin: 10%;
    padding: 5%;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchArea {
    height: 2em;
}

#inputCity {
    width: 15rem;
    height: 1.5rem;
    border-radius: 2px;
}

#searchButton {
    height: 1.5rem;
}

#result {
    margin-top: 2rem;
    margin: 1rem;
    padding: 1em;
}

#cityName {
    text-transform: uppercase;
}

#icon {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}

#description {
    text-transform: capitalize;
}

button {
    display: inline-block;
    padding: 5px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #212125;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

button:hover {
    background-color: #545554
}

button:active {
    background-color: #585a5f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:50000;
    margin-top: auto;
}